<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Gang San 21 M&A 건설업체조회 페이지</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .header-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .btn-custom {
            width: 100%;
            margin-bottom: 10px;
            background-color: #007bff;
            color: #fff;
        }
        .btn-custom:hover {
            background-color: #0056b3;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        address {
            color: #adb5bd;
        }
        address p {
            margin: 0;
        }
        a {
            color: #fff;
        }
    </style>

</head>

<body>

<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">-->
<!--    <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>-->
<!--    <nav class="my-2 my-md-0 mr-md-3">-->
<!--        <a class="p-2 text-dark" href="#">Features</a>-->
<!--        <a class="p-2 text-dark" href="#">Enterprise</a>-->
<!--        <a class="p-2 text-dark" href="#">Support</a>-->
<!--        <a class="p-2 text-dark" href="#">Pricing</a>-->
<!--    </nav>-->
<!--    <a class="btn btn-outline-primary" href="#">Sign up</a>-->
<!--</div>-->
<img src="http://gangsan21-ocr.site/image/gangsan21_logo.png" alt="Gangsan21 Logo" class="header-image">
<!--<div class="py-5 text-center">-->
<!--    <h1>Gangsan21 M&A</h1>-->
<!--</div>-->
<br><br>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">건설업체 조회</h1>
    <p class="lead">
        <a href="https://www.kiscon.net/gongsi/gongsi_list.asp">
            <small class="text-muted">1. 국토교통부-Kiscon</small>
        </a><br>
        <a href="https://ictis.kica.or.kr/construct/assessment/compSearch#searchSido=&searchType=1&searchText=&size=10&pageNumber=1">
            <small class="text-muted">2. 한국정보통신공사협회</small>
        </a><br>
        <a href="https://www.keca.or.kr/ecic/ad/ad0101.do?menuCd=6047">
            <small class="text-muted">3. 한국전기공사협회</small>
        </a><br>
        <a href="https://www.ekffa.or.kr/fe/member/NR_listCompany.do?upKindcode=10&_m=41">
            <small class="text-muted">4. 한국소방시설협회</small>
        </a><br>
<!--        <small class="text-muted">2. 한국전기공사협회</small><br>-->
<!--        <small class="text-muted">3. 한국정보통신공사협회</small><br>-->
<!--        <small class="text-muted">4. 한국소방시설협회</small><br>-->
        위 네 곳에서 제공하는 건설 업체 데이터 조회 및 Google Sheet 저장이 가능합니다.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-auto"> <!-- Adjust the col-6 to col-x where x is the desired column width -->
                <button id="google-sheet-button" type="button" class="btn btn-lg btn-outline-primary btn-block">종합 Google Sheet 으로 이동</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">국토교통부 (Kiscon)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">설정 정보 <small class="text-muted">Parameters</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>탐색할 업체 수</li>
                    <li>검색조건기간 공시기간시작일</li>
                    <li>검색조건기간 공시기간종료일</li>
                    <li>등록 시/도 (선택)</li>
                    <li>등록 시/군/구 (선택)</li>
                </ul>
                <button id="molit-button" type="button" class="btn btn-lg btn-block btn-outline-primary">업체 조회하기</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">한국정보통신공사협회 (Kica)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">설정 정보 <small class="text-muted">Parameters</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>탐색할 업체 수</li>
                    <li>
                        검색조건:<br>
                        1. 상호<br>
                        2. 대표자<br>
                        3. 등록번호<br>
                        4. 주소<br>
                        5. 주력 공사분야<br>
                    </li>
                    <li>등록 시/도 (선택)</li>
                </ul>
                <button id="kica-button" type="button" class="btn btn-lg btn-block btn-outline-primary">업체 조회하기</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">한국전기공사협회 (ECIC)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">설정 정보 <small class="text-muted">Parameters</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>파라미터 없이 호출 가능합니다.</li>
                </ul>
                <button id="ecic-button" type="button" class="btn btn-lg btn-block btn-outline-primary">업체 조회하기</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">한국소방시설협회 (EKFFA)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title">설정 정보 <small class="text-muted">Parameters</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>파라미터 없이 호출 가능합니다.</li>
                </ul>
                <button id="ekffa-button" type="button" class="btn btn-lg btn-block btn-outline-primary">업체 조회하기</button>
            </div>
        </div>
    </div>

    <footer class="mx-auto text-center">
        <address>
            <p>Gangsan21 M&A</p>
            <p>[도로명] 경기 성남시 중원구 사기막골로 124 (SKn테크노파크)<br>
                비즈센터동 7층 706호<br><br>
                [지번] 경기도 성남시 중원구 상대원동 190-1<br>
                비즈센터동 7층 706호</p><br>
            <p>WEB: <a href="http://www.gangsan21.com">www.gangsan21.com</a></p>
            <p>TEL: 02-2157-8338</p>
            <p>FAX: 02-2179-8133</p>
            <p>Blog: <a href="https://blog.naver.com/ghskfen347">blog.naver.com/ghskfen347</a> </p>
        </address>
        <br><br><br>
        <p>© 2023 Gangsan21 M&A. All rights reserved. | Copyrighted by Carefreelife98</p>
    </footer>
</div>

<script>
    // 국토 교통부 조회 버튼
    document.getElementById('molit-button').addEventListener('click', function() {
        window.location.href = 'http://gangsan21-ocr.site/construct/molit';
    });

    // 한국정보통신공사협회 조회 버튼
    document.getElementById('kica-button').addEventListener('click', function() {
        window.location.href = 'http://gangsan21-ocr.site/construct/kica';
    });

    // 한국전기공사협회 조회 버튼
    document.getElementById('ecic-button').addEventListener('click', function() {
        window.location.href = 'http://gangsan21-ocr.site/construct/ecic';
    });

    // 한국소방시설협회 조회 버튼
    document.getElementById('ekffa-button').addEventListener('click', function() {
        window.location.href = 'http://gangsan21-ocr.site/construct/ekffa';
    });

    // Google Sheets 이동 버튼
    document.getElementById('google-sheet-button').addEventListener('click', function() {
        window.location.href = 'https://docs.google.com/spreadsheets/d/1zccSFdH0cgYYPTq4eewBU3m6QRDAVD5qBthEWWagt8E/edit#gid=0';
    });

</script>

</body>
</html>
