<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="image/favicon.ico">
    <title>Carefree Life's OCR</title>
</head>
<body>
    <div class="container" style="max-width: 600px">
        <img src="image/gangsan21_logo.png" alt="gangsan21_logo">
        <div class="py-5 text-center">
            <h1>CarefreeLife's 강산21 M&A OCR</h1>
            <br><br>
            <form action="/" method="get">
                <button type="submit">홈으로 이동</button>
            </form>
        </div>
        <br><br>
        <div class="row">
            <br><br>
            <div class="col">
                <h3>등기 영수증 OCR</h3>
                <form action="/uploadAndOcr" method="post" enctype="multipart/form-data">
                    <input type="file" name="files" multiple accept=".jpg, .jpeg, .png">
                    <button type="submit">등기 영수증 OCR</button>
                </form>
                <br><br>
                <a href="https://docs.google.com/spreadsheets/d/1UADUNDLfmaQLJ1woHzVs9sq2HyScmfLla4lKvjaAwy8/edit#gid=">[등기] Google Sheet 으로 이동</a>
                <br><br>

                <br><br>
                <h3>사업자 등록증 OCR</h3>
                <form action="/ocrBusiness" method="post" enctype="multipart/form-data">
                    <input type="file" name="files" multiple accept=".jpg, .jpeg, .png">
                    <button type="submit">사업자 등록증 OCR</button>
                </form>
                <br><br>
                <a href="https://docs.google.com/spreadsheets/d/1ucw8wIlZosXmskTX61odE_CnX8WnEjw9q_Oggj8WwQY/edit#gid=">[사업자] Google Sheet 으로 이동</a>
                <br><br>

            </div>
        </div>
        <br><br>
        <h3>주의 !! 다음과 같은 형식의 등기 번호가 <br>
            이미지에 존재해야 인식 가능합니다!!
        </h3>
        <br>
            1. 등기 번호 : (숫자 5자리)-(숫자 네 자리)-(숫자 네 자리) <br>
            2. "익일특급" / "통상" Text 발견 시 다음 등기 번호를 찾습니다. <br>
            3. "합계" Text 발견 시 종료합니다. <br>
            4. 깔끔하게 찍힌 사진 / Scan 파일 사용 시 더욱 세밀한 OCR 이 가능합니다. <br>
    </div>
</body>
</html>